:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #9bcaf9;
    --fuente-princpal: "Krub", sans-serif;
}
html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./img/planta.png'), linear-gradient(to bottom, var(--grisClaro) 0%, var(--blanco) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-presentacion{
    position: 0 10px 1px 0;
    width: 500px;
    padding: 50px 40px;
    border-radius: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px rgba(31,38,135,0.37);
    transition: transform 0.3s ease;
    backdrop-filter: blur(10px);
}

.card-presentacion:hover{
    transform: translateY(-8px);
}

.card-presentacion img{
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 20px;
    object-fit: cover;
}

.card-presentacion h2{
    margin-top: 15px;
    color: #fff;
}

.card-presentacion h3 {
    color: #fff;
    font-weight: normal;
    margin-bottom: 15px;
}

.card-presentacion p {
    color: #fff;
    line-height: 1.5;
    text-align: justify;
    padding: 30px 30px;
    margin: auto 10px;
    border-radius: 20px;
    transform: translateY(2px); 
    box-shadow: inset 0 5px 9px rgba(0, 0, 0, 0.4);
}

.habilidades{
    margin: 20px;
}

.habilidades span {
    display: inline-block;
    background: #e8f5e9;
    color: #083b0a;
    padding: 8px 20px;
    margin: 10px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.habilidades span:hover {
    transform: translateY(2px); 
    box-shadow: inset 0 5px 9px rgba(91, 90, 90, 0.3);
}

.btn-contacto{
    display: inline-block;
    text-decoration: none;
    background: #083b0a;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-contacto:hover{
    background: #4aa04e;
}


